
<table class="table {{#if hover}}table--hover{{/if}} {{#if bordered}}table--bordered{{/if}} {{#if striped}}table--striped{{/if}}">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">Type</th>
			<th scope="col">Default value</th>
			<th scope="col">Access</th>
		</tr>
	</thead>
	<tbody>
		{{#times 6}}
		<tr>
			<td>{{lorem 'w1'}}</td>
			<td>{{lorem 'w1'}}</td>
			<td>{{lorem 'w1'}}</td>
			<td>{{lorem 'w1'}}</td>
			<td>{{lorem 'w1'}}</td>
		</tr>
		{{/times}}
	</tbody>
</table>
