
/*---
Images
@group			Base/Embedded
@desc			An img element represents an image. The image given by the src attribute is the embedded content, and the value of the alt attribute is the img element's fallback content.
				The src attribute must be present, and must contain a valid non-empty URL potentially surrounded by spaces referencing a non-interactive, optionally animated, image resource that is neither paged nor scripted.
				The img element must not be used as a layout tool. In particular, img elements should not be used to display transparent images, as they rarely convey meaning and rarely add anything useful to the document.
@author			Michael Ord
@tags			default,embedded,image
---
<img src="http://placehold.it/800x150" alt="Image served from placeholder service">
*/
img
{
	// So that `alt` text is visually offset if images don’t load.
	font-style 					: italic;

	// Fluid images
	max-width 					: 100%;
	height						: auto;
	vertical-align 				: middle;
}

/*---
SVGs
@group			Base/Embedded
@author			Michael Ord
@tags			default,embedded,svg
@source			false
---
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="472px" height="392px" viewBox="0 0 472 392" enable-background="new 0 0 472 392" xml:space="preserve">
	<g>
		<path fill="#FFB564" d="M288.7,187.7c-53.7-32.6-119.8,1-119.8,1s11.6,92.6,11.4,121.4c-0.8,2-1,4.1-0.4,6.3c-0.2,1.2-0.6,1.7-1,1.7h1.7c1.1,3,2.9,4.3,5.8,5.3c10.9,4,21.5,6.8,33.1,7.7c3.6,0.3,7.1,0.2,10.5-0.2c1.6,1.5,4,2.4,7.1,2.1c13.2-1.2,28-1.9,38.6-10.3c1.7-1.4,2.7-2.7,3.1-4.7h0.8L288.7,187.7z"/>
		<polygon fill="#52E2D7" points="173.2,146.4 180.5,184 206.6,177.2 200.1,144"/>
		<path fill="#FFFBE8" d="M222.6,133.8c0,0-17.9-15.6-5.3,39.9c0.6,2.5,19.4,3.4,19.4,3.4L222.6,133.8z"/>
		<path fill="#F9A035" d="M188.6,181.4c0,0-20.6,0-20.6,12.4c0.1,17.2,13.4,105.6,13.1,119.9c-0.2,9.3,19.1,13.6,19.1,13.6"/>
		<path fill="#FFB564" d="M200.2,93.3c0,0,9.7,50.2,11.6,48.4c2-1.8,10.8-7.9,10.8-7.9l-13.5-40.5H200.2z"/>
		<path fill="#FFFBE8" d="M184.1,123.6c0,0-12.9,24.6-10.9,22.8c2-1.8,27-2.4,27-2.4L184.1,123.6z"/>
		<path fill="#F25F68" d="M257.9,92.8c-1.5,2-3,4.1-4.4,6.3c-1.2,1.9-2.9,2.3-4.6,1.9c-1.7,3.4-3.5,6.7-5.7,9.8c-6.2,22.4-0.7,41.7-8.7,63.8c-1.3,3.5,0.3,0.3,2.2,2.5c5.6-3,31.1,3.5,38.7,4.2c1.7-2.3-9.1-3.3-10.3-6.6c1.4,3.9,0.2-5.2,0.2-6.1c0.3-2.6,0-5.5,0.3-8.1c0.7-4.6-1.4-6.4-0.8-11c1.9-14.5,3.4-29.4,3-44.1c-2.2-3.9-4.1-7.9-5.6-12.1C261,92.9,259.4,92.7,257.9,92.8z"/>
	</g>
	<g>
		<polyline fill="none" stroke="#AF3A46" stroke-width="4.9763" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="238,171.1 245.2,109 260.4,86.9 267.7,110.8 265.1,174.8 	"/>
		<polyline fill="none" stroke="#AF3A46" stroke-width="4.9763" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" points="180.2,182.4 173.8,144 184.1,123.6 200.1,139.2 206.6,176.2 	"/>
		<path fill="none" stroke="#AF3A46" stroke-width="4.9763" stroke-linecap="square" stroke-linejoin="round" stroke-miterlimit="10" d="M218.2,174.8c0,0-4.5-16.5-9-36.4c-4.8-21.3-9.7-43.8-9-45.1c1.3-2.6,5.4-4.8,8.9,0c2,2.7,7.9,21.6,13.5,40.5c6.3,21.1,12.2,42.3,11.9,40.8"/>
		<path fill="#AF3A46" stroke="#AF3A46" stroke-width="2.4882" stroke-miterlimit="10" d="M200.2,93.3c-11.6-12.2-10.4-19.2-6.6-23c6.6-6.6-2.8-16.6-0.9-16.8c6.6-0.6,28.6,9.6,17.3,36.9"/>
		<path fill="none" stroke="#AF3A46" stroke-width="4.9763" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M245.2,109c0,0,11.3-4.8,22.5,1.9"/>
		<path fill="#FFFBE8" stroke="#AF3A46" stroke-width="4.9763" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M200.1,139.2c0,4.7-12.2,4.7-12.2,4.7c-3.2,5.3-14.1,0-14.1,0"/>
		<path fill="#AF3A46" d="M190.9,130.3c3.4,3.3-12,3.5-12,3.5l5.1-10.2L190.9,130.3z"/>
		<path fill="none" stroke="#AF3A46" stroke-width="4.9763" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M211.8,141.6c7.7,0,11.4-6,11.4-6"/>
		<path fill="none" stroke="#AF3A46" stroke-width="4.9763" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M169,188.8L169,188.8c43.9-21.5,94.3-16.6,119.8-1.1L277,321.9c0,0-39.9,23.2-95.2-1.1L169,188.8z"/>
		<path fill="none" stroke="#AF3A46" stroke-width="4.8228" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M255.7,270.4l-2.2-32.6l-24.4-18.9L205,236.6c0.3,11.8,1.4,22.8,1.7,34.6C206.6,271.2,236,275.9,255.7,270.4z"/>
		<line fill="none" stroke="#AF3A46" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="229.5" y1="219" x2="229.5" y2="246"/>
		<path fill="none" stroke="#AF3A46" stroke-width="3.8582" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M233.2,240.8c-1.5,0-2.9,0.3-6.8,0.4c0,0-1-0.9-0.1,5.9c2.9,0.1,4,0.2,6.9,0.2C233.2,247.4,233.2,242.5,233.2,240.8z"/>
	</g>
</svg>
*/
svg
{
	max-width					: 100%;
	height						: auto;
}

/*---
iframe
@group			Base/Embedded
@desc			The iframe element represents a nested browsing context.
				For iframe elements in HTML documents, the attribute, if present, must have a value using the HTML syntax that consists of the following syntactic components, in the given order:
					* Any number of comments and space characters.
					* Optionally, a DOCTYPE.
					* Any number of comments and space characters.
					* The root element, in the form of an html element.
					* Any number of comments and space characters.
@author			Michael Ord
@tags			default
---
<iframe height="500" width="500" src="http://example.com/"></iframe>
*/
iframe
{
	width 						: 100%;
	display 					: block;
	border						: 0;
}

/*---
Embed
@group			Base/Embedded
@desc			Represents an integration point for an external(typically non-HTML) application or interactive content.
				The optional src attribute specifies the URL of the resource being embedded.
				The optional type attribute specifies the MIME type of the plugin to instantiate. The value must be a valid MIME type, optionally with parameters. If both the type attribute and the src attribute are present, then the type attribute must specify the same MIME type as the explicit Content-Type metadata of the resource given by the src attribute.
@author			Michael Ord
@tags			default,embedded
*/
embed
{

}

/*---
Object
@group			Base/Embedded
@desc			The object element can represent an external resource, which, depending on the type of the resource, will either be treated as an image, as a nested browsing context, or as an external resource to be processed by a plugin.
@author			Michael Ord
@tags			default,embedded
---
<object>
	<param name="movie" value="http://www.youtube.com/v/GPqcccmiOMc?fs=1&amp;hl=en_GB"></param>
	<param name="allowFullScreen" value="true"></param>
	<param name="allowscriptaccess" value="always"></param>
	<embed src="http://www.youtube.com/v/GPqcccmiOMc?fs=1&amp;hl=en_GB" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="390"></embed>
</object>
*/
object
{

}

param
{

}

/*---
Video
@group			Base/Embedded
@desc			Represents a video or movie.
				Content may be nested inside the video element. User agents should not show this content to the user. Authors should use this content to force older browsers to use a legacy video plugin or to inform the user of how to access the video content.
@author			Michael Ord
@tags			default,embedded
---
<video width="320" height="240" controls>
	<source src="http://www.w3schools.com/tags/movie.mp4" type="video/mp4" />
	<source src="http://www.w3schools.com/tags/movie.ogg" type="video/ogg" />
	Your browser does not support the video tag.
</video>
*/
video
{
	max-width					: 100%;
}

/*---
Audio
@group			Base/Embedded
@desc			Represents a sound or audio stream.
				Content may be nested inside the audio element. User agents should not show this content to the user. Authors should use this content to force older browsers to use a legacy audio plugin or to inform the user of how to access the audio content.
@author			Michael Ord
@tags			default,embedded
---
<audio controls>
	<source src="http://www.w3schools.com/tags/horse.ogg" type="audio/ogg" />
	<source src="http://www.w3schools.com/tags/horse.mp3" type="audio/mpeg" />
	Your browser does not support the audio element.
</audio>
*/
audio
{

}

source
{

}

/*---
Canvas
@group			Base/Embedded
@desc			Represents a resolution-dependent bitmap canvas, which can be used for rendering graphs, game graphics, or other visual images on the fly.
				Authors should not use the canvas element in a document when a more suitable element is available. For example, it is inappropriate to use a canvas element to render a page heading. If the desired presentation of the heading is graphically intense, it should be marked up using appropriate elements (typically h1) and then styled using CSS and supporting technologies such as XBL.
				When authors use the canvas element, they must also provide content that, when presented to the user, conveys essentially the same function or purpose as the bitmap canvas. This content should be nested within the canvas element as a fallback.
@author			Michael Ord
@tags			default,embedded
---
<canvas id="myCanvas" width="300" height="150">
	Fallback content, in case the browser does not support Canvas.
</canvas>
*/
canvas
{

}

/*---
Track
@group			Base/Embedded
@desc			The track element allows authors to specify explicit external timed text tracks for media elements. It does not represent anything on its own.
@author			Michael Ord
@tags			default,embedded
*/
track
{

}

/*---
Map
@group			Base/Embedded
@desc			The map element, in conjunction with any area element descendants, defines an image map. The element represents its children.
@author			Michael Ord
@tags			default,interactive
*/
map
{

}

/*---
Area
@group			Base/Embedded
@desc			The area element represents either a hyperlink with some text and a corresponding area on an image map, or a dead area on an image map.
				If the area element has no href attribute, then the area represented by the element cannot be selected, and the alt attribute must be omitted.
@author			Michael Ord
@tags			default,interactive
*/
area
{

}
