
/// ...
/// @group framework
/// @access public
/// @type Color
$hr-color						: #ccc !default;

/*---
Heading row
@group			Base/Group
@desc			Represents a paragraph-level thematic break. The "paragraph-level" bit means between blocks of text, so it can't be used to separate sections of a site. Instead, hr now separates different topics within a section of prose, or between scenes in a novel.
@author			Michael Ord
@tags			default
---
<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores mollitia ducimus ipsum consequatur sed quae expedita esse provident. Officiis consequatur aspernatur nostrum mollitia quisquam quibusdam voluptate dolorum doloribus saepe sunt!</p>
*/
hr
{
	border 						: 0;
	color 						: $hr-color;
	border-bottom-width 		: 1px;
	border-bottom-style 		: solid;
	column-span					: all;
}

/*---
Preformatted Text
@group			Base/Group
@desc			The pre element represents a block of preformatted text, in which structure is represented by typographic conventions rather than by elements.
@author			Michael Ord
@tags			default,typography
---
<p>The code for a basic JavaScript message is:</p><pre>&lt;script&gt;alert("hello world");&lt;/script&gt;</pre>
*/
pre
{
	white-space 				: pre;
	overflow 					: auto;
	display						: block;
	padding						: 1rem;
	word-break					: break-all;
	word-wrap					: break-word;
	color						: $pre-color;
	background-color			: $pre-bg;
	border						: 1px solid $pre-border-color;
	border-radius				: $border-radius-base;

	code
	{
		white-space 			: pre-wrap;
		padding					: 0;
		font-size				: inherit;
		color					: inherit;
		background-color		: transparent;
		border-radius			: 0;
		border					: 0;
	}

	mark
	{
		background 				: none;
		color 					: inherit;
		border-bottom 			: 1px solid;
	}

	> *:first-child
	{
		margin-top				: 0;
	}

	> *:last-child
	{
		margin-bottom			: 0;
	}
}

ul,
ol
{
	break-inside				: avoid;
}

li
{
	break-inside				: avoid;

	> p
	{
		&:first-child
		{
			margin-top			: 0;
		}

		&:last-child
		{
			margin-bottom		: 0;
		}
	}
}

/*---
Ordered List
@group			Typography/List
@desc			The ol element represents a list of items, where the items have been intentionally ordered, such that changing the order would change the meaning of the list.
				A list of items in which the order does explicitly matter.
@author			Michael Ord
@tags			default,list
---
<ol>
	<li>Lorem ipsum dolor sit amet</li>
	<li>Consectetur adipiscing elit</li>
	<li>Integer molestie lorem at massa</li>
	<li>Facilisis in pretium nisl aliquet</li>
	<li>Nulla volutpat aliquam velit
		<ol>
			<li>Phasellus iaculis neque</li>
			<li>Purus sodales ultricies</li>
			<li>Vestibulum laoreet porttitor sem</li>
			<li>Ac tristique libero volutpat at</li>
		</ol>
	</li>
	<li>Faucibus porta lacus fringilla vel</li>
	<li>Aenean sit amet erat nunc</li>
</ol>
*/
ol
{
	> li > ol
	{
		list-style-type			: lower-alpha;

		> li > ol
		{
			list-style-type		: lower-roman;
		}
	}
}

/*---
Unordered List
@group			Typography/List
@desc			The ul element represents a list of items, where the order of the items is not important — that is, where changing the order would not materially change the meaning of the list.
				A list of items in which the order does <em>not</em> explicitly matter.
@author			Michael Ord
@tags			default,list
---
<ul>
	<li>Lorem ipsum dolor sit amet</li>
	<li>Consectetur adipiscing elit</li>
	<li>Integer molestie lorem at massa</li>
	<li>Facilisis in pretium nisl aliquet</li>
	<li>Nulla volutpat aliquam velit
		<ul>
			<li>Phasellus iaculis neque</li>
			<li>Purus sodales ultricies</li>
			<li>Vestibulum laoreet porttitor sem</li>
			<li>Ac tristique libero volutpat at</li>
		</ul>
	</li>
	<li>Faucibus porta lacus fringilla vel</li>
	<li>Aenean sit amet erat nunc</li>
</ul>
*/
ul
{

}

li
{
	// Remove vertical spacing from nested lists.
	> ul,
	> ol
	{
		margin-bottom 			: 0;
		margin-top 				: 0;
	}
}

/*---
Definition List
@group			Typography/List
@desc			Represents a description list consisting of zero or more name-value groups. Each group must consist of one or more names (dt elements) each followed by one or more values (dd elements).
				Name-value groups may be terms and definitions, metadata topics and values, or any other groups of name-value data. The values within a group are alternatives; multiple paragraphs forming part of the same value must all be given within the same dd element.
				A list of terms with their associated descriptions.
@author			Michael Ord
@tags			default,list
---
<dl>
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis, nisi obcaecati vero iste ipsum, fugit provident quasi ex quo eos praesentium, accusantium repellat facere consectetur pariatur inventore fuga commodi.</dd>
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis, nisi obcaecati vero iste ipsum, fugit provident quasi ex quo eos praesentium, accusantium repellat facere consectetur pariatur inventore fuga commodi.</dd>
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit</dd>
	<dt>Definition Title</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab debitis, nisi obcaecati vero iste ipsum, fugit provident quasi ex quo eos praesentium, accusantium repellat facere consectetur pariatur inventore fuga commodi.</dd>
</dl>
*/
dl
{
	padding 					: 0;
}

dt
{
	font-weight 				: 600;
	display 					: block;
}

dd
{
	display 					: block;
	margin 						: 0;
}

/*---
Figure
@group			Base/Group
@desc			The figure element represents some flow content, optionally with a caption, that is self-contained and is typically referenced as a single unit from the main flow of the document.
				The figure element can be used to annotate illustrations, diagrams, photos, code listings, etc., that are referenced in the main content of the document, but that could, without affecting the flow of the document, be moved away from that primary content — e.g., to the side of the page, to dedicated pages, or to an appendix.
@author			Michael Ord
@tags			default
---
<figure>
	<img src="//placehold.it/800x300" alt="The Pulpit Rock" width="600" height="300">
</figure>
*/
figure
{
	margin 						: 0;

	// make sure that the figure obays max-width as much as images do..
	max-width					: 100%;

	// Images in `figure` elements.
	img
	{
		display 				: block;
	}
}

/*---
Figcaption
@group			Base/Group
@desc			The figcaption element represents a caption or legend for the rest of the contents of the figcaption element's parent figure element, if any.
@author			Michael Ord
@tags			default
---
<figure>
	<img src="//placehold.it/800x300" alt="The Pulpit Rock" width="600" height="300">
	<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat reiciendis sed ad culpa totam dolor minus aliquid</figcaption>
</figure>
*/
figcaption
{

}
