
/*---
Links
@group			Typography
@desc			If the a element has an href attribute, then it represents a hyperlink (a hypertext anchor). If the a element has no href attribute, then the element represents a placeholder for where a link might otherwise have been placed, if it had been relevant.
				The target, rel, media, hreflang, and type attributes must be omitted if the href attribute is not present.
@author			Michael Ord
@tags			default,typography,interactive
---
<ul class="list list--unstyled list-underlined">
	<li><a href="mailto:example@example.com">example@example.com</a></li>
	<li><a href="tel:00001234567">0000 123 4567</a></li>
	<li><a href="https://example.com/">https://example.com/</a></li>
	<li><a href="http://example.com/">http://example.com/</a></li>
</ul>
*/
a,
.link
{
	color 						: $link-color;
	text-decoration 			: none;
	transition					: color .2s, background .2s;
	position					: relative;

	// add these in so buttons can be styled like links
	background					: transparent;
	border						: 0;
	padding						: 0;

	&:hover,
	&:focus
	{
		color					: $link-hover-color;
		text-decoration 		: $link-hover-decoration;
	}

	&:focus
	{
		@extend %tab-focus;
	}

	&:before,
	&:after
	{
		text-decoration			: none;
	}

	// make sure that any telephone number links inherit the default colour,
	// stand out, and always stay on the same line
	&[href*="tel:"]
	{
		color					: inherit;
		white-space				: nowrap;
	}

	// make sure that any telephone number links inherit the default colour,
	// stand out, and always stay on the same line
	&[href*="mailto:"]
	{
		// TODO
	}
}
