
html,
body
{
	height						: 100%;
}

%default-font
{
	font-size					: $base-font-size * 1px;
	line-height					: round(($base-font-size * $base-line-height));

	@if($base-unit == rem)
	{
		font-size				: ($base-font-size / $default-font-size) * 1rem;
		line-height				: round(($base-font-size * $base-line-height)) / $default-font-size;
	}
}

body
{
	margin 						: 0;
	padding 					: 0;
	font-weight					: 400;
	text-rendering 				: optimizeLegibility;
	color 						: $core-body-copy-color;
	font-family					: $base-font-family;
	background-color			: $core-body-background-color;

	@extend %default-font;
}

/*---
Article
@group			Base/Sections
@desc			Represents a section of a page that consists of a composition that forms an independent part of a document, page, or site. This could be a forum post, a magazine or newspaper article, a Web log entry, a user-submitted comment, or any other independent item of content.
@author			Michael Ord
@tags			default
---
<article></article>
*/
article
{

}

/*---
Aside
@group			Base/Sections
@desc			Represents a section of a page consisting of content that is tangentially related to the content around the aside element, and which could be considered separate from that content. Such sections are often represented as sidebars in printed typography.
@author			Michael Ord
@tags			default
---
<aside></aside>
*/
aside
{

}

/*---
Section
@group			Base/Sections
@desc			Represents a generic document or application section. In this context, a section is a thematic grouping of content, typically with a header, possibly with a footer. Examples include chapters in a book, the various tabbed pages in a tabbed dialog box, or the numbered sections of a thesis. A web site's home page could be split into sections for an introduction, news items, contact information.
@author			Michael Ord
@tags			default
---
<section></section>
*/
section
{

}

/*---
Header section
@group			Base/Sections
@desc			Represents the "header" of a document or section of a document. The header element is typically used to group a set of h1–h6 elements to mark up a page's title with its subtitle or tagline. header elements may, however, contain more than just the section's headings and subheadings — e.g., version history information or publication date.
@author			Michael Ord
@tags			default
---
<header></header>
*/
header
{

}

/*---
Footer section
@group			Base/Sections
@desc			Represents the "footer" of a document or section of a document. The footer element typically contains metadata about its enclosing section, such as who wrote it, links to related documents, copyright data, etc. Contact information for the section given in a footer should be marked up using the address element.
@author			Michael Ord
@tags			default
---
<footer></footer>
*/
footer
{

}

/*---
Main section
@group			Base/Sections
@desc			The main element is an exact analogue of ARIA's <code>role="main"</code>, and is designed to show screenreaders and assistive technologies exactly where main content begins, so it can be a target for a "skip links" keyboard command, for example. It could also be used for content syndication (Instapaper-ish things); mobile browsers could zoom in on main when encountering non-responsive websites. It should therefore be used once per page. If you use something like <code>&lt;div id="main"&gt;</code> (or similar, such as <code>&lt;div id="content"&gt;</code>), simply replace that with <code>&lt;main role="main"&gt;</code>.
@author			Michael Ord
@tags			default
---
<main></main>
*/
main
{

}

/*---
Addresses
@group			Base/Sections
@desc			Present contact information for the nearest ancestor or the entire body of work. Preserve formatting by ending all lines with <code>&lt;br&gt;</code>.
@author			Michael Ord
@tags			default
---
<address>
	You can contact author at <a href="http://www.somedomain.com/contact">www.somedomain.com</a>.<br>
	If you see any bugs, please <a href="mailto:webmaster@somedomain.com">contact webmaster</a>.<br>
	You may also want to visit us:<br>
	Mozilla Foundation<br>
	1981 Landings Drive<br>
	Building K<br>
	Mountain View, CA 94043-0801<br>
	USA
</address>
*/
address
{
	font-style					: normal;
}
