
/// ...
/// @group framework
/// @access public
/// @type String
$base-small-print-size			: 85% !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$mark-background-color			: #f9f9a6 !default;

/*---
Paragraph
@group			Typography
@desc			The p element represents a paragraph.
@author			Michael Ord
@tags			default,typography
---
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti nesciunt, error repellat ea id, maiores aliquid placeat, repudiandae eaque nihil, quae eveniet sit saepe nemo eos et culpa. Amet, veritatis.</p>
<p>Aperiam odio nisi atque harum sed voluptates molestias, ducimus, numquam in sequi corporis. Molestias ipsum esse deserunt iusto ea aperiam est consequatur voluptatibus, distinctio magni, quibusdam voluptate et, error ex?</p>
*/
p
{

}

/*---
Deleted Text
@group			Typography
@desc			For indicating blocks of text that have been deleted use the <code>&lt;del&gt;</code> tag.
@author			Michael Ord
@tags			default,typography
---
<p><del>This line of text is meant to be treated as deleted text.</del></p>
*/
del
{

}

/*---
Inserted Text
@group			Typography
@desc			For indicating additions to the document use the <code>&lt;ins&gt;</code> tag.
@author			Michael Ord
@tags			default,typography
---
<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
*/
ins
{

}

code,
kbd,
pre,
samp
{
	font-family 				: $base-mono-font-family;
}

/*---
Emphasis
@group			Typography
@desc			Represents stress emphasis of its contents. The level of emphasis that a particular piece of content has is given by its number of ancestor em elements. The 'stress' being referred to is linguistic. If spoken, this stress would be emphasised pronunciation on a word that can change the nuance of a sentence.
@author			Michael Ord
@tags			default,typography
---
<p>Call a doctor <em>now</em></p>
*/
em
{

}

/*---
Strong text
@group			Typography
@desc			Represents strong importance for its contents. Indicate relative importance by nesting strong elements; each strong element increases the importance of its contents. Changing the importance of a piece of text with the strong element does not change the meaning of the sentence.
@author			Michael Ord
@tags			default,typography
---
<p><strong>Warning</strong>. This dungeon is dangerous. <strong>Avoid the ducks.</strong> Take any gold you find.</p>
*/
strong
{

}

/*---
Italics
@group			Typography
@desc			Represents a span of text in an alternate voice or mood, or otherwise offset from the normal prose, such as a taxonomic designation, a technical term, an idiomatic phrase from another language, a thought, a ship name, or some other prose whose typical typographic presentation is italicized.
				Only use i when nothing more suitable is available — e.g., em for text with stress emphasis, strong for text with semantic importance, cite for titles in a citation or bibliography, dfn for defining a word, and var for mathematical variables.
@author			Michael Ord
@tags			default,typography
---
<p>The following snippet of text is <em>rendered as italicized text</em>.</p>
*/
i
{

}

/*---
Bold
@group			Typography
@desc			Represents a span of text to be stylistically offset from the normal prose without conveying any extra importance. Examples are key words in a document abstract, product names in a review, or other spans of text whose typical typographic presentation is bold.
				The b element should be used as a last resort when no other element is more appropriate. In particular, headings should use the h1 to h6 elements, stress emphasis should use the em element, importance should be denoted with the strong element, and text marked or highlighted should use the mark element.
@author			Michael Ord
@tags			default,typography
---
<p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
*/
b
{

}

/*---
Underlined text
@group			Typography
@desc			To underline text use the <code>&lt;u&gt;</code> tag.
@author			Michael Ord
@tags			default,typography
---
<span itemscope itemtype="http://schema.org/Person" lang="ja-latn">
	<u itemprop="familyName">Son</u> <span itemprop="givenName">Goku</span>
</span>
*/
u
{

}

/*---
Strikethrough text
@group			Typography
@desc			For indicating blocks of text that are no longer relevant use the <code>&lt;s&gt;</code> tag.
@author			Michael Ord
@tags			default,typography
---
<p>Sale on now!</p>
<p><s>Get up to 25% off</s></p>
<p><strong>Now down to 50% off</strong></p>
*/
s
{

}

/*---
Small text
@group			Typography
@desc			For de-emphasizing inline or blocks of text, use the <code>&lt;small&gt;</code> tag to set text at 85% the size of the parent. Heading elements receive their own <code>font-size</code> for nested <code>&lt;small&gt;</code> elements.
@author			Michael Ord
@tags			default,typography
---
<p><small>This line of text is meant to be treated as fine print.</small></p>
*/
 small
{
	font-size 					: $base-small-print-size;
}

/*---
Abbreviations
@group			Typography
@desc			Stylized implementation of HTML's <code>&lt;abbr&gt;</code> element for abbreviations and acronyms to show the expanded version on hover. Abbreviations with a <code>title</code> attribute have a light dotted bottom border and a help cursor on hover, providing additional context on hover and to users of assistive technologies.
@author			Michael Ord
@tags			default,typography
---
<p>The <abbr title="Web Hypertext Application Technology Working Group">WHATWG</abbr> started working on HTML5 in 2004.</p>
*/
abbr
{
	font-variant 				: small-caps;
	text-transform 				: lowercase;
	font-weight 				: bold;

	&[title]
	{
		&:hover
		{
			cursor 				: help;
		}
	}
}

/*---
Quoted text
@group			Typography
@desc			The <code>q</code> element represents some phrasing content quoted from another source.
@author			Michael Ord
@tags			default,typography
---
<p>And then he said <q>I heart HTML5</q></p>
*/
q
{
	&:before
	{
		content					: open-quote;
	}

	&:after
	{
		content					: close-quote;
	}

	quotes						: "\201C" "\201D";

	// use different fancy quotes in German
	:lang(de) &
	{
		quotes					: "\201E" "\201C";
	}
}

/*---
Cite
@group			Typography
@desc			The <code>cite</code> element represents the title of a work (e.g. a book, a paper, an essay, a poem, a score, a song, a script, a film, a TV show, a game, a sculpture, a painting, a theatre production, a play, an opera, a musical, an exhibition, a legal case report, etc). This can be a work that is being quoted or referenced in detail (i.e. a citation), or it can just be a work that is mentioned in passing.
				A person's name is not the title of a work — even if people call that person a piece of work — and the element must therefore not be used to mark up people's names. (In some cases, the b element might be appropriate for names; e.g. in a gossip article where the names of famous people are keywords rendered with a different style to draw attention to them. In other cases, if an element is really needed, the span element can be used.)
@author			Michael Ord
@tags			default,typography
---
<p>My favourite book is <cite>Introducing HTML5</cite> by Bruce and Remy</p>
*/
cite
{

}

/*---
Definition
@group			Typography
@desc			The <code>dfn</code> element represents the defining instance of a term. The paragraph, description list group, or section that is the nearest ancestor of the dfn element must also contain the definition(s) for the term given by the dfn element.
@author			Michael Ord
@tags			default,typography
---
<p>The <dfn>dfn element</dfn> and <dfn title="Title text">dfn element with title</dfn> examples</p>
*/
dfn
{
	&[title]
	{
		&:hover
		{
			cursor 				: help;
		}
	}
}

/*---
Subscript text
@group			Typography
@desc			The <code>sub</code> element can be used inside a var element, for variables that have subscripts.
@author			Michael Ord
@tags			default,typography
---
<p>H<sub>2</sub>O is the chemical formula for water</p>
*/
sub
{

}

/*---
Superscript text
@group			Typography
@desc			The <code>sup</code> element represents a superscript and the sub element represents a subscript.
@author			Michael Ord
@tags			default,typography
---
<p>Today is the 2<sup>nd</sup> of May</p>
*/
sup
{

}

/*---
Time
@group			Typography
@desc			Represents a precise date and/or time in the proleptic Gregorian calendar. The time element encodes modern dates and times in a machine-readable way, so that, for example, user agents could offer to add an event to the user's calendar.
@author			Michael Ord
@tags			default,typography
---
<time datetime="2007-08-29T13:58Z">August 29th, 2007 at 13:58</time>
*/
time
{

}

/*---
Code
@group			Typography
@desc			The <code>code</code> element represents a fragment of computer code. This could be an XML element name, a filename, a computer program, or any other string that a computer would recognize.
@author			Michael Ord
@tags			default,typography
---
<p>To get started with HTML5 you just need at this top of your page <code>&lt;!DOCTYPE html&gt;</code></p>
*/
code
{
	white-space 				: pre;
	padding						: 2px 4px;
	font-size					: 90%;
	border-radius				: $border-radius-base;
}

/*---
KBD
@group			Typography
@desc			Use the <code>&lt;kbd&gt;</code> to indicate input that is typically entered via keyboard.
@author			Michael Ord
@tags			default,typography
---
To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
*/
kbd
{
	padding						: 2px 4px;
	font-size					: 90%;
	color						: $kbd-color;
	background-color			: $kbd-bg;
	border-radius				: $border-radius-small;
	box-shadow					: inset 0 -1px 0 rgba(0,0,0,.25);

	kbd
	{
		padding					: 0;
		font-size				: 100%;
		font-weight				: bold;
		box-shadow				: none;
	}
}

/*---
Sample output
@group			Typography
@desc			For indicating variables use the <code>&lt;var&gt;</code> tag.
@author			Michael Ord
@tags			default,typography
---
<p><var>y</var> = <var>m</var><var>x</var> + <var>b</var></p>
*/
samp
{

}

/*---
Var
@group			Typography
@desc			The var element represents a variable. This could be an actual variable in a mathematical expression or programming context, or it could just be a term used as a placeholder in prose.
@author			Michael Ord
@tags			default,typography
---
<p><var>E</var> energy is equal to <var>m</var> mass multiplied by the <var>c</var> speed of light, squared.</p>
*/
var
{

}

/*---
Marked text
@group			Typography
@desc			Represents a run of text in one document marked or highlighted because of its relevance in another context.
				When used in a quotation or other block of text referenced in a document, it indicates a highlight that was not present in the original document — e.g., a portion of text in an academic publication that has recently come under additional scrutiny.
@author			Michael Ord
@tags			default,typography
---
<p>In this sentence we'll be using the mark element. <mark>HTML5</mark> Can you see where it has been used?</p>
*/
mark
{
	color 						: inherit;
	padding 					: 2px 4px;
	display 					: inline;
	background-color			: $mark-background-color;
	border-radius				: $border-radius-small;
}

/*---
BDI
@group			Typography
@desc			The bdi element represents a span of text that is to be isolated from its surroundings for the purposes of bidirectional text formatting.
@author			Michael Ord
@tags			default,typography
---
<ul>
	<li><bdi>johnsmith</bdi> joined the site</li>
	<li><bdi>the_guru</bdi> posted "February update"</li>
	<li><bdi>????</bdi> commented on "Getting started with HTML5"</li>
</ul>
*/
bdi
{

}

/*---
BDO
@group			Typography
@desc			The bdo element represents explicit text directionality formatting control for its children. It allows authors to override the Unicode bidirectional algorithm by explicitly specifying a direction override.
@author			Michael Ord
@tags			default,typography
---
<p><bdo dir="rtl">Don't cheat by reading this in a mirror!</bdo></p>
*/
bdo
{

}

/*---
Ruby
@group			Typography
@desc			Represents a container for base text and ruby text — small annotations used for phonetic readings in languages such as Japanese and Chinese. Examples include furigana and zhùyin fúhào (bopomofo).
@author			Michael Ord
@tags			default,typography
---
<ruby>??<rp>(</rp><rt>????</rt><rp>)</rp>???<rp>(</rp><rt>?????</rt><rp>)</rp></ruby>
*/
ruby
{

}

/*---
rt
@group			Typography
@desc			Represents a container for ruby text inside a &lt;ruby&gt; element. &lt;rt&gt; content becomes the small annotations rendered by default above horizontal base text or to the right of vertical base text.
@author			Michael Ord
@tags			default,typography
---
<ruby>??<rp>(</rp><rt>????</rt><rp>)</rp>???<rp>(</rp><rt>?????</rt><rp>)</rp></ruby>
*/
rt
{

}

/*---
rp
@group			Typography
@desc			Represents a container for parentheses used to wrap ruby text (&lt;rt&gt;) inside a &lt;ruby&gt; element. These are displayed by browsers which don't support &lt;ruby&gt;, allowing for graceful degradation of ruby content. Browsers which support &lt;ruby&gt; hide &lt;rp&gt; via display:none.
@author			Michael Ord
@tags			default,typography
---
<ruby>??<rp>(</rp><rt>????</rt><rp>)</rp>???<rp>(</rp><rt>?????</rt><rp>)</rp></ruby>
*/
rp
{

}

/*---
span
@group			Typography
@desc			The span element doesn't mean anything on its own, but can be useful when used together with the global attributes, e.g. class, lang, or dir. It represents its children.
@author			Michael Ord
@tags			default,typography
---
<span>This is an example of the span element</span>
*/
span
{

}

/*---
Break
@group			Typography
@desc			The br element represents a line break. br elements must be used only for line breaks that are actually part of the content, as in poems or addresses. br elements must not be used for separating thematic groups in a paragraph
@author			Michael Ord
@tags			default,typography
---
<br />
*/
br
{

}

/*---
wbr
@group			Typography
@desc			The wbr element represents a line break opportunity. Any content inside wbr elements must not be considered part of the surrounding text.
@author			Michael Ord
@tags			default,typography
---
html5<wbr>doctor.com
*/
wbr
{

}
